[submodule "packages/AshZsh"]
	path = packages/AshZsh
	url = https://github.com/pbert5/AshZsh.git
[submodule "flake-devbox"]
	path = references/flake-devbox
	url = https://github.com/pbert5/flake-devbox
[submodule "packages/AshesTools"]
	path = packages/AshesTools
	url = https://github.com/pbert5/AshesTools.git
[submodule "packages/AshDesktopApps"]
	path = packages/AshDesktopApps
	url = https://github.com/pbert5/AshDesktopApps.git
[submodule "packages/tiling-desktop"]
	path = packages/tiling-desktop
	url = https://github.com/pbert5/TilingDesktop.git
	branch = main
[submodule ".env"]
	path = .env
	url = https://github.com/pbert5/arbor-recovery-env.git
